.access {
  background-color: #fff6e5;
  font-family: 'NotoSerifJP-ExtraLight';
}

.access-title {
  display: block;
  justify-content: center;
  padding: 4rem;
}

.access-title-up {
  align-items: center;
}

.access-adress {
  display: flex;
  justify-content: center;
  padding: 3rem;
}

.home {
  width: 100%;
  height: 300px;
}