.access {
  background-color: #fff6e5;
  font-family: 'NotoSerifJP-ExtraLight';
}

.access-title {
  text-align: center;
  padding: 4rem;
}

.access-title-up {
  font-size: 0.8rem
}

.access-title-down {
  font-size: 1.2rem;
}

.access-title-middle {
  padding: 1rem;
}

.access-adress {
  text-align: center;
  padding: 3rem;
}

.home {
  width: 100%;
  height: 300px;
}

.home-image {
  object-fit: cover;
}

.name {
  padding: 3rem 0 1rem 0;
}

.adress {
  padding-bottom: 1rem;
}

.time {
  padding-bottom: 1rem;
}

.map {
  padding-bottom: 4rem;
}


.swiper{
  margin-top: 30px;
  font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
}
.swiper-slide {
  width: 100%;
  height: 600px;
  overflow: hidden;
  padding: 2em;
}

.swiper-slide img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide .texts {
  min-width: 40%;
  max-width: 600px;
  padding: 1.5em 3em;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(3px);
  color: #fff;
  overflow: hidden;
}

.swiper-slide .title {
  font-size: 2.5rem;
  margin: 0;
}