.main-page {
  background-color: #fff6e5;
  font-family: 'NotoSerifJP-ExtraLight';
}

.image-main {
  height: 75vh;
  width: 100%;
}

.upper-content {
  height: 250px;
  background-color: #fff6e5;;
}

.messages {
  width: 100vw;
  margin: 0 auto;
}

.message {
  display: flex;
  font-size: 100%;
  margin: 10px 0 16px 100px;
}

.message-date {
  padding-right: 40px;
}
/**********  メニュー  **********/

.title_menu {
  height: 21.47px;
  width: 40px;
  display: block;
  margin: 0 auto;
  padding: 35px 0 10px 0;
}

.menu_title {
  text-align: center;
  font-size: 18px;
}

.menu_title_top {
  line-height: 32px;
}

.este1-image {
  height: 210px;
  width: 70%;
  padding: 40px;
  display: block;
  margin: 0 auto;
  border-radius: 80px;
}

.menu_title_middle {
  font-size: 0.9rem;
  text-align: center;
  line-height: 30px;
}

.menu-link {
  text-align: center;
  padding: 30px;
}

.menu_link {
  border: #000 1px solid;
  text-decoration: none;
  padding: 2%;
  font-size: 0.8rem;
}

/**********  ニュース  **********/

.title_news {
  height: 57.52px;
  width: 78px;
  display: block;
  margin: 0 auto;
  padding: 5% 0 5% 0;
}

.information-top {
  text-align: center;
  padding: 5% 0 8% 0;
}

.news-list {
  padding: 2.5% 0;
  border-bottom: 1px solid #e9e8e5;
}

.date {
  padding: 2%;
  border-top: 1px solid #e9e8e5;
}

.news-date {
  color: gray;
  font-size: 0.9rem;
}

.news-title {
  padding-top: 2%;
  font-size: 0.9rem;
}

.news-link {
  text-align: center;
  padding: 30px;
}

.news_link {
  border: #000 1px solid;
  text-decoration: none;
  padding: 2% 7%;
  font-size: 0.8rem;
}

.first-image {
  display: flex;
  justify-content: space-around;
  margin: 30px 0 0 0;
}

.tiikawa-image {
  height: 300px;
}

.image-name {
  font-size: 16px;
  text-align: center;
}

.menu-image {
  display: block;
  margin: 0 auto;
}

 /* スマホ表示時 */
 @media screen and (min-width:480px) {}
 @media screen and (min-width:768px) and (max-width:1024px) {}
 @media screen and (min-width:1024px) {}

