.main-page {
  background-color: #fff6e5;
  font-family: 'NotoSerifJP-ExtraLight';
}

.image-main {
  height: 75vh;
  width: 100%;
}

.upper-content {
  height: 250px;
  background-color: #fff6e5;;
}

.messages {
  width: 100vw;
  margin: 0 auto;
}

.message {
  display: flex;
  font-size: 100%;
  margin: 30px 0 16px 100px;
}

.message-date {
  padding-right: 40px;
}

.title_news {
  height: 57.52px;
  width: 78px;
  display: block;
  margin: 0 auto;
  padding: 10px;
}

.first-image {
  display: flex;
  justify-content: space-around;
  margin: 30px 0 0 0;
}

.tiikawa-image {
  height: 300px;
}

.image-name {
  font-size: 16px;
  text-align: center;
}

.menu-image {
  display: block;
  margin: 0 auto;
}


 /* スマホ表示時 */
 @media screen and (min-width:480px) {}
 @media screen and (min-width:768px) and (max-width:1024px) {}
 @media screen and (min-width:1024px) {}

