.logo-bottom {
  height: 10vh;
  width: 18vw;
}

.footer {
  background-color: #fff6e5;
  text-align: center;
  font-family: 'NotoSerifJP-ExtraLight';
}

 /* スマホ表示時 */
 @media (max-width: 599px) {
  .page-heading {
    font-size: 20px;
  }
}