.logo-bottom {
  height: 10vh;
  width: 18vw;
}

.footer {
  background-color: #fff6e5;
  text-align: center;
  font-family: 'NotoSerifJP-ExtraLight';
}

 /* スマホ表示時 */
 @media screen and (min-width:480px) {}
@media screen and (min-width:768px) and (max-width:1024px) {}
@media screen and (min-width:1024px) {}