* {
  margin:0;
  padding:0;
  }
header {
  background-color: #fff6e5;
  font-family: 'NotoSerifJP-ExtraLight';
}

.header-inner {
  display: flex;
}

.logo {
  height: 10vh;
  width: 10vw;
  padding: 0 25% 0 0;
}

.header-lists {
  display: flex;
  justify-content: space-between;
  font-size: 75%;
  align-items: center;
}

a {
  color: #000;
}

/* 
hamburger(ハンバーガーアイコン)
=================================== */
.hamburger {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 50px;
  height: 40px;
  cursor: pointer;
  z-index: 300;
}

.hamburger__line {
  position: absolute;
  width: 50px;
  height: 3px;
  right: 0;
  background-color: #000;
  transition: all 0.5s;
}

.hamburger__line--1 {
  top: 1px;
}

.hamburger__line--2 {
  top: 18px;
}

.hamburger__line--3 {
  top: 36px;
}

/*ハンバーガーがクリックされたら*/
.open .hamburger__line--1 {
  transform: rotate(-45deg);
  top: 11px;
}

.open .hamburger__line--2 {
  opacity: 0;
}

.open .hamburger__line--3 {
  transform: rotate(45deg);
  top: 11px;
}

/* 
sp-nav(ナビ)
=================================== */
.sp-nav {
  position: fixed;
  right: -100%; /*ハンバーガーがクリックされる前はWindow右側に隠す*/
  top: 0;
  width: 30%; /* 出てくるスライドメニューの幅 */
  height: 100vh;
  background-color: #fff;
  transition: all 0.5s;
  z-index: 200;
  overflow-y: auto; /* メニューが多くなったらスクロールできるように */
  background-color: rgba(255,255,255,0.8);
}

/*ハンバーガーがクリックされたら右からスライド*/
.open .sp-nav {
  right: 0;
}


/* 
black-bg(ハンバーガーメニュー解除用bg)
=================================== */
.black-bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  background-color: #000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
  cursor: pointer;
  z-index: 100;
}

/*ハンバーガーメニューが開いたら表示*/
.open .black-bg {
  opacity: 0.3;
  visibility: visible;
}

ul, ol {
  padding-top: 7rem;/*リスト上の余白*/
}

.menu > ul > li, ol {
  padding-bottom: 20%;/*リスト下の余白*/
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}


 /* スマホ表示時 */
@media screen and (min-width:480px) {}
@media screen and (min-width:768px) and (max-width:1024px) {}
@media screen and (min-width:1024px) {}


@media screen and (max-width: 767px) {
  .logo {
    height: 40px;
    width: 80px;
    padding: 0 25% 0 0;
  }
  
  .menu > ul > li, ol {
    padding-bottom: 20%;/*リスト下の余白*/
    font-size: 0.8rem;
    font-weight: solid;
    text-align: center;
  }
  .sp-nav {
    position: fixed;
    right: -100%; /*ハンバーガーがクリックされる前はWindow右側に隠す*/
    top: 0;
    width: 40%; /* 出てくるスライドメニューの幅 */
    height: 100vh;
    background-color: #fff;
    transition: all 0.5s;
    z-index: 200;
    overflow-y: auto; /* メニューが多くなったらスクロールできるように */
    background-color: rgba(255,255,255,0.8);
  }
  .hamburger {
    position: absolute;
    right: 20px;
    top: 10px;
    width: 50px;
    height: 40px;
    cursor: pointer;
    z-index: 300;
  }
  
  .hamburger__line {
    position: absolute;
    width: 35px;
    height: 2px;
    right: 0;
    background-color: #000;
    transition: all 0.5s;
  }
  
  .hamburger__line--1 {
    top: 1px;
  }
  
  .hamburger__line--2 {
    top: 9px;
  }
  
  .hamburger__line--3 {
    top: 18px;
  }
  a {
    color: #000;
    opacity: 0.8;
  }
}