<header>
  <div class='header-inner'>
      <%= image_tag 'TORa_logo.png', size: '175x92', class:'logo' %>
    <div class='navbar'>
      <ul class='header-lists'>
        <li>1・エステメニュー</li>
        <li>2</li>
        <li>3</li>
        <li>4・お問い合わせ</li>
      </ul>
    </div>
  </div>
</header>