<header>
  <div class='header-inner'>
      <%= image_tag 'tora.JPG', size: '175x92', class:'logo' %>
    <div id="nav-wrapper" class="nav-wrapper">
  <div class="hamburger" id="js-hamburger">
    <span class="hamburger__line hamburger__line--1"></span>
    <span class="hamburger__line hamburger__line--2"></span>
    <span class="hamburger__line hamburger__line--3"></span>
  </div>
  <nav class="sp-nav">
    <div class="menu">
    <ul>
      <li>メニュー1</li>
      <li>メニュー1</li>
      <li>メニュー1</li>
    </ul>
    </div>
  </nav>
  <div class="black-bg" id="js-black-bg"></div>
 </div>
  </div>
</header>