<%= render "shared/header" %>

<div class="access">
  <div class="access-title">
    <div class="access-title-up">information / access</div>
    <div class="access-title-middle">-</div>
    <div class="access-title-down">サロン案内／アクセス</div>
  </div>

  <div class="home-image">
    <%= image_tag asset_path("home.jpeg"), class:"home" %>
  </div>

  <div class="access-adress">
    <div class="name">HEALTH & BEAUTY  TORa</div>
    <div class="adress">〒381-2223 長野県長野市里島27-2 タウンコートいずみ 102号室</div>
    <div class="time">営業時間 ◯◯：◯◯ 〜 ◯◯：◯◯ </div>
    完全予約制
  </div>

  <div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3203.8945784601055!2d138.15274949999994!3d36.580758200000005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x601d8384790b477f%3A0x10a1138aa568a0b2!2z44CSMzgxLTIyMjMg6ZW36YeO55yM6ZW36YeO5biC6YeM5bO277yS77yX4oiS77ySIOOCv-OCpuODs-OCs-ODvOODiCDjgYTjgZrjgb8gQQ!5e0!3m2!1sja!2sjp!4v1690082679566!5m2!1sja!2sjp" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>


  <div class="swiper">
   <div class="swiper-wrapper">
      <div class="swiper-slide">
         <img src="https://images.unsplash.com/photo-1682685797527-63b4e495938f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHwxNnx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=800&q=60" data-swiper-parallax-x="100%" data-swiper-parallax-scale="1.1">
         <div class="texts" data-swiper-parallax-x="50%" data-swiper-parallax-opacity="0">
            <p class="title" data-swiper-parallax-x="-50%" data-swiper-parallax-duration="1000">京都</p>
            <p data-swiper-parallax-x="-50%" data-swiper-parallax-duration="1100">京都は日本で最もポピュラーな観光地の一つで、古風で綺麗な日本の風景を楽しむことができます。</p>
         </div>
      </div>
      <div class="swiper-slide">
         <img src="https://images.unsplash.com/photo-1692684583465-6230fa0ccb1b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxOHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=800&q=60" data-swiper-parallax-x="100%" data-swiper-parallax-scale="1.1">
         <div class="texts" data-swiper-parallax-x="50%" data-swiper-parallax-opacity="0">
            <p class="title" data-swiper-parallax-x="-50%" data-swiper-parallax-duration="1000">横浜</p>
            <p data-swiper-parallax-x="-50%" data-swiper-parallax-duration="1100">横浜は夜景を楽しむことができる綺麗な街です。</p>
         </div>
         </div>
      <div class="swiper-slide">
         <img src="https://images.unsplash.com/photo-1682685797507-d44d838b0ac7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHwzOHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=800&q=60" data-swiper-parallax-x="100%" data-swiper-parallax-scale="1.1">
         <div class="texts" data-swiper-parallax-x="50%" data-swiper-parallax-opacity="0">
            <p class="title" data-swiper-parallax-x="-50%" data-swiper-parallax-duration="1000">吉祥寺</p>
            <p data-swiper-parallax-x="-50%" data-swiper-parallax-duration="1100">吉祥寺は人気の街で、一部にはどこか日本人がノスタルジーを感じるような飲み屋街もあります。</p>
      </div>
   </div>
</div>
</div>


<%= render "shared/footer" %>