<%= render "shared/header" %>
<div class='main'>

  <h1>テスト</h1>
  <a href="https://twitter.com/nori_programing/status/1670700413144961024?s=61&t=sfO0VvnqmT1wnMTTJQI8Ig">Twitterはこちら</a>
  <div class="hello">こんにちは</div>
</div>