<%= render "shared/header" %>
<div class='main-page'>

  <!-- トップ画像を表示 -->
  <%= image_tag "room_main.JPG", class:"image-main" %>
  
  <div class='contents'>
    <!-- 新着情報を表示 -->
    <div class='upper-content'>
      <h2 class="heading-name">新着情報</h2>
      <ul class="messages">
        <li class="message">
          <div class="message-date">2019/10/06</div>
          <div>「TORa」オープンしました！</div>
        </li>
        <li class="message">
          <div class="message-date">2019/10/03</div>
          <div>お得なキャンペーン実施します！</b></div>
        </li>
      </ul>

    </div>

    <!-- メニューを表示 -->
    <div class='menu-content'>

    </div>
  </div>

</div>

<%= render "shared/footer" %>