<%= render "shared/header" %>

<div class="information">
  <div class="information-top">
    <p>news</p>
    <p>-</p>
    <p>お知らせ</p>
  </div>
インフォメーション

  <ul class="news-list">
    <li class="date">
      <p class= "news-date">2023.07.31</p>
      <p class="news-title">「TORa」初めてのご来店の方</p>
    </li>
    <li class="date">
      <p class= "news-date">2023.07.15</p>
      <p class="news-title">暑中見舞い申し上げます。</p>
    </li>
    <li class="date">
      <p class= "news-date">2023.07.04</p>
      <p class="news-title">なおたか誕生日</p>
    </li>
  </ul>
</div>

<%= render "shared/footer" %>