<%= render "shared/header" %>

<div class="menu">
  <%= image_tag asset_path("este.jpeg"), class:"este-image" %>
  <div class="este-top-title">HEALTH & BEAUTY</div>


  <div class="top-menu">
    <div class="top-menu-comment">
      オイルトリートメントに精油を合わせることで、日々の心身のバランスの乱れを整えます。<br>
      静かな森の中、木漏れ日を浴びるような心地へ誘いながら、<br>
      自己治癒力を高め、内面にある健やかさと美しさを取り戻すお手伝いをさせていただきます。<br>
      大切なお身体を、日頃からトリートメントでメンテナンスすることによって不調を防ぎ、<br>
      いきいきとした素肌を保ち、軽やかな心身でお過ごしいただきたいと願っております。<br>
    </div>
  </div>

  <div class="middle-menu">
    <div class="middle-menu-title">
      <div class="middle-menu-main-title">MENU</div>
      <div class="middle-border">
        <div class="middle-menu-sub-title">メニュー</div>
      </div>
    </div>
    
    <div class="">
    </div>

    <div class="middle-menu-comment">

    </div>
    <div class="middle-menu-list">
    </div>
    
  </div>
</div>
<%= render "shared/footer" %>