<%= render "shared/header" %>
<div class="background">
  <div class="menu_display">
    <div class="menu_display_main_title">
      <div class="menu_display_main__title">
        Menu
      </div>
      <div class="menu_display_title">美骨カイロコース</div>
      <div class="under_line"></div>
        <div class="menu_display_sub_title">骨盤・美姿勢・全身矯正（60分）
        <div class="menu_display_title_price">・・・・・・・¥ 6600</div></div>

      <div class="menu_display_title">エステコース</div>
      <div class="under_line"></div>
        <div class="menu_display_sub_title">オールハンド全身リンパトリートメント（60分）
        <div class="menu_display_title_price">・・・・・・・¥ 7700</div></div>

      <div class="menu_display_title">オプションコース<span class="menu_display__sub_title">トリートメント</span></div> 
      <div class="under_line"></div>
        <div class="menu_display_sub_title">背中
          <div class="menu_display_title_price">・・・・・・・¥ 3300</div></div><br>
        <div class="menu_display_sub_title">お腹
          <div class="menu_display_title_price">・・・・・・・¥ 2200</div></div><br>
        <div class="menu_display_sub_title">肩・二の腕集中
          <div class="menu_display_title_price">・・・・・・・¥ 2750</div></div><br>
        <div class="menu_display_sub_title">下半身
          <div class="menu_display_title_price">・・・・・・・¥ 3300</div></div><br>
        <div class="menu_display_sub_title">デコルテ
          <div class="menu_display_title_price">・・・・・・・¥ 2200</div></div><br>
        <div class="menu_display_sub_title">ドライヘッドマッサージ
          <div class="menu_display_title_price">・・・・・・・¥ 2200</div></div><br><br>
        <div class="menu_display_sub_title">（セルライト分解クリーム使用　＋　¥ 3300）</div><br><br>
        
        <div class="menu_display_sub_title">（丸） エステコースに美骨オプション</div><br>
        <div class="menu_display_sub_title">小顔美骨調整
          <div class="menu_display_title_price">・・・・・・・¥ 3300</div></div><br>
        <div class="menu_display_sub_title">骨盤矯正
          <div class="menu_display_title_price">・・・・・・・¥ 3300</div></div><br>

      <div class="menu_display_title">美肌フェイシャル</div>
      <div class="under_line"></div>
        <div class="menu_display_sub_title">美肌調整　→ ディープクレンジング　→ クレイトリートメント</div><br>
        <div class="menu_display_sub_title">(フェイシャル＆デコルテ)　→ 美容液導入　→ お仕上げ</div><br>
        <div class="menu_display_title_price">・・・・・・・¥ 8800</div><br>
        <div class="menu_display_sub_title">（お肌に合わせたパック使用　＋　¥ 3300）</div><br><br>

    </div>

  </div>
</div>

<%= render "shared/footer" %>
